.skybox {
  height: calc(100vh);
  overflow: hidden;
  background-color: rgb(10, 10, 10);
}

.starset {
  background: transparent;
  border-radius: 5px;
}

.small {
  height: 1px;
  width: 1px;
  animation: animateStars 150s linear infinite;
  position: relative;
}
.small:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  box-shadow: inherit;
  animation: animateStars 150s linear infinite;
  border-radius: 5px;
}
.medium {
  height: 2px;
  width: 2px;
  animation: animateStars 200s linear infinite;
}
.medium:after {
  content: "' '";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  box-shadow: inherit;
  animation: animateStars 200s linear infinite;
  border-radius: 5px;
}
.large {
  height: 4px;
  width: 4px;
  animation: animateStars 300s linear infinite;
}
.large:after {
  content: ' ';
  position: absolute;
  top: 100px;
  width: 4px;
  height: 4px;
  box-shadow: inherit;
  animation: animateStars 300s linear infinite;
  border-radius: 5px;
}
@keyframes animateStars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
