@import "tailwindcss";

@theme {
  --font-mono: "Geist Mono Variable", "monospace";
  --color-peppermint: var(--peppermint);
  --color-orange: var(--orange);
  --color-primary: var(--primary);
  --color-muted: var(--color-zinc-400);
	--color-background: var(--background);
}

@layer utilities {
  h1 {
    @apply text-2xl;
    @apply mb-2;
  }
  h2 {
    @apply text-2xl;
    @apply mb-2;
  }
  h3 {
    @apply text-2xl;
    @apply mb-2;
  }
  h4 {
    @apply text-2xl;
    @apply mb-2;
  }
  h5 {
    @apply text-2xl;
    @apply mb-2;
  }
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-mono);
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --radius: 10px;
  --drop-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  --spacing: 8px;
  --backdrop-filter: blur(1px);
  --peppermint: #99ffe4;
  --orange: #ff7f20;
	--primary: #101010;
	--background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --peppermint: #99ffe4;
    --orange: #ffc799;
	  --primary: #ffffff;
	  --background: #101010;
  }

  html {
    color-scheme: dark;
  }
  body {
    color: var(--color-primary);
    background: var(--color-background);
  }
}

a {
  transition: color 200ms ease;
  color: var(--color-orange);
}

a:hover {
  color: var(--color-peppermint);
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--color-peppermint);
  outline-offset: 4px;
  border-radius: 1px;
}
