/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@13.0.6_biqbaboplfbrettd7655fr4n2y/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/.pnpm/next@13.0.6_biqbaboplfbrettd7655fr4n2y/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./src/components/Sky/Sky.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Sky_skybox__03m1X {
  height: calc(100vh);
  overflow: hidden;
  background-color: rgb(10, 10, 10);
}

.Sky_starset__jYgom {
  background: transparent;
  border-radius: 5px;
}

.Sky_small__UeRN1 {
  height: 1px;
  width: 1px;
  animation: Sky_animateStars__EJrtE 150s linear infinite;
  position: relative;
}
.Sky_small__UeRN1:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  box-shadow: inherit;
  animation: Sky_animateStars__EJrtE 150s linear infinite;
  border-radius: 5px;
}
.Sky_medium__671Hs {
  height: 2px;
  width: 2px;
  animation: Sky_animateStars__EJrtE 200s linear infinite;
}
.Sky_medium__671Hs:after {
  content: "' '";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  box-shadow: inherit;
  animation: Sky_animateStars__EJrtE 200s linear infinite;
  border-radius: 5px;
}
.Sky_large__LKNSu {
  height: 4px;
  width: 4px;
  animation: Sky_animateStars__EJrtE 300s linear infinite;
}
.Sky_large__LKNSu:after {
  content: ' ';
  position: absolute;
  top: 100px;
  width: 4px;
  height: 4px;
  box-shadow: inherit;
  animation: Sky_animateStars__EJrtE 300s linear infinite;
  border-radius: 5px;
}
@keyframes Sky_animateStars__EJrtE {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

