---
import Layout from "../layouts/Layout.astro";

import { Computer } from "@lucide/astro";
import { MapPinHouse } from "@lucide/astro";
---

<Layout>
  <div class="flex flex-col gap-8">
    <div class="gap-05 flex flex-col">
      <h1>about</h1>
      <p class="flex items-center gap-1">
        <Computer size={16} /> software developer @ Sveriges Radio.
      </p>
      <p class="flex items-center gap-1">
        <MapPinHouse size={16} /> Malmö, Sweden.
      </p>
    </div>

    <div class="flex flex-col gap-2">
      <div class="relative">
        <h2>work</h2>
        <div
          class="after:bg-primary/20 after-z-1 grid grid-cols-[auto_auto_1fr_125px] items-center after:absolute after:h-px after:w-full"
        >
          <span class="text-orange z-2 bg-white pr-1 dark:bg-black">
            Sveriges Radio
          </span>
          <span class="text-muted z-2 bg-white px-1 dark:bg-black">
            fullstack developer
          </span>
          <span></span>
          <span class="z-2 ml-auto w-full bg-white pl-1 dark:bg-black">
            2022-
          </span>
        </div>
      </div>

      <div class="relative">
        <div
          class="after:bg-primary/20 after-z-1 grid grid-cols-[auto_auto_1fr_125px] items-center after:absolute after:h-px after:w-full"
        >
          <span class="text-orange z-2 bg-white pr-1 dark:bg-black">
            Prisjakt
          </span>
          <span class="text-muted z-2 bg-white px-1 dark:bg-black">
            web developer
          </span>
          <span></span>
          <span class="z-2 ml-auto w-full bg-white pl-1 dark:bg-black">
            2017-2022
          </span>
        </div>
      </div>

      <div class="relative">
        <div
          class="after:bg-primary/20 after-z-1 grid grid-cols-[auto_auto_1fr_125px] items-center after:absolute after:h-px after:w-full"
        >
          <span class="text-orange z-2 bg-white pr-1 dark:bg-black">
            Nortech
          </span>
          <span class="text-muted z-2 bg-white px-1 dark:bg-black">
            web developer
          </span>
          <span></span>
          <span class="z-2 ml-auto w-full bg-white pl-1 dark:bg-black">
            2015-2017
          </span>
        </div>
      </div>
    </div>
  </div>
</Layout>
