---
import Layout from "../layouts/Layout.astro";
import Prompt from "../components/Prompt.astro";
import Result from "../components/Result.astro";
import GitHubRepoFiles from "../components/GitHubRepoFiles.astro";
---

<Layout>
    <div class="flex flex-col gap-05">
        <Prompt>links</Prompt>
        <Result>
            <a href="https://github.com/natlus">github</a>
            <a href="https://github.com/natlus/dotfiles">dotfiles</a>
        </Result>

        <Prompt>about</Prompt>
        <Result>
            <ul>
                <li>software dev</li>
                <li>malmö, sweden</li>
            </ul>
        </Result>

        <!-- <Prompt>ls ~/projects/dotfiles</Prompt>
        <Result>
            <GitHubRepoFiles owner="natlus" repo="dotfiles" />
        </Result> -->

        <div class="flex items-center">
            <Prompt />
            <span class="mx-1 inline-flex animate-cursor border-[#F6C99F] bg-[#F6C99F] h-2 w-1"></span>
        </div>
    </div>
</Layout>

<style>
    a {
        position: relative;
    }

    a::before {
        content: "[";
        display: none;
        position: absolute;
        left: -0.5rem;
    }

    a::after {
        content: "]";
        display: none;
        position: absolute;
        right: -0.5rem;
    }

    a:hover::after,
    a:hover::before {
        display: inline;
    }

    ul {
        padding-left: 1rem;
    }

    li {
        list-style-type: square;
    }
</style>
