---
import Layout from "../layouts/Layout.astro";

import { Computer } from "@lucide/astro";
import { MapPinHouse } from "@lucide/astro";
---

<Layout>
    <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-05">
            <p class="flex items-center gap-1"><Computer size={16} /> software developer @ Sveriges Radio.</p>
            <p class="flex items-center gap-1"><MapPinHouse size={16} /> Malmö, Sweden.</p>
        </div>

        <div class="flex flex-col gap-2">
            <div class="relative">
                <div
                    class="grid grid-cols-[auto_auto_1fr_125px] items-center after:h-px after:w-full after:bg-primary/20 after:absolute after-z-1"
                >
                    <span class="bg-white dark:bg-black z-2 pr-1">Sveriges Radio</span>
                    <span class="bg-white dark:bg-black text-muted z-2 px-1">fullstack developer</span>
                    <span></span>
                    <span class="bg-white dark:bg-black ml-auto z-2 w-full pl-1">2022-</span>
                </div>
            </div>

            <div class="relative">
                <div
                    class="grid grid-cols-[auto_auto_1fr_125px] items-center after:h-px after:w-full after:bg-primary/20 after:absolute after-z-1"
                >
                    <span class="bg-white dark:bg-black z-2 pr-1">Prisjakt</span>
                    <span class="bg-white dark:bg-black text-muted z-2 px-1">web developer</span>
                    <span></span>
                    <span class="bg-white dark:bg-black ml-auto z-2 w-full pl-1">2017-2022</span>
                </div>
            </div>

            <div class="relative">
                <div
                    class="grid grid-cols-[auto_auto_1fr_125px] items-center after:h-px after:w-full after:bg-primary/20 after:absolute after-z-1"
                >
                    <span class="bg-white dark:bg-black z-2 pr-1">Nortech</span>
                    <span class="bg-white dark:bg-black text-muted z-2 px-1">web developer</span>
                    <span></span>
                    <span class="bg-white dark:bg-black ml-auto z-2 w-full pl-1">2015-2017</span>
                </div>
            </div>
        </div>
    </div>
</Layout>
