---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>projects</h1>

    <div>
        <div class="">
            <a href="https://mobtimer.natlus.dev">mobtimer</a>
            <span class="text-muted">react</span>
        </div>
        <span>manage mob programming</span>
    </div>
</Layout>
