---
import Layout from "../layouts/Layout.astro";
import { ArrowUpRight } from "@lucide/astro";
---

<Layout>
  <h1>projects</h1>

  <div class="flex flex-col gap-4">
    <div>
      <div
        class="after:bg-primary/20 relative flex w-full flex-row items-center after:absolute after:z-1 after:h-px after:w-full"
      >
        <a
          href="https://mobtimer.natlus.dev"
          class="z-2 bg-white pr-1 dark:bg-black"
        >
          mobtimer
        </a>
        <span class="text-muted z-2 bg-white px-1 dark:bg-black">react</span>
        <a
          href="https://github.com/natlus/mobtimer-ol"
          class="text-muted! hover:text-orange! gap-05 z-2 ml-auto inline-flex flex-row items-center bg-white pl-1 dark:bg-black"
        >
          github <ArrowUpRight size={16} />
        </a>
      </div>
      <span>manage mob programming.</span>
    </div>

    <div>
      <div
        class="after:bg-primary/20 relative flex w-full flex-row items-center after:absolute after:z-1 after:h-px after:w-full"
      >
        <span class="text-orange z-2 bg-white pr-1 dark:bg-black">
          dotfiles
        </span>
        <span class="text-muted z-2 bg-white px-1 dark:bg-black">config</span>
        <a
          href="https://github.com/natlus/dotfiles"
          class="text-muted! hover:text-orange! gap-05 z-2 ml-auto inline-flex flex-row items-center bg-white pl-1 dark:bg-black"
        >
          github <ArrowUpRight size={16} />
        </a>
      </div>

      <span>my computer configuration managed with gnu stow.</span>
      <ul class="list-inside list-disc px-2 py-1">
        <!-- prettier-ignore -->
        <li><span class="text-orange">aerospace</span> - window tiling manager</li>
        <li><span class="text-orange">ghostty</span> - terminal emulator</li>
        <li><span class="text-orange">helix</span> - terminal code editor</li>
        <li><span class="text-orange">zed</span> - code editor</li>
        <li><span class="text-orange">zsh</span> - terminal shell</li>
      </ul>
    </div>
  </div>
</Layout>
