---
import NavLink from "./nav-link";
---

<header class="py-3">
    <nav class="flex flex-row gap-3">
        <NavLink client:load href="/" shortcut="h"><span>[h]</span><span>home</span></NavLink>
        <NavLink client:load href="/projects" shortcut="p"><span>[p]</span><span>projects</span></NavLink>
        <NavLink client:load href="https://github.com/natlus/dotfiles" shortcut="d">
            <span>[d]</span><span>dotfiles</span></NavLink
        >
        <NavLink client:load href="https://github.com/natlus" shortcut="g"><span>[g]</span><span>github</span></NavLink>
    </nav>
</header>
