/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@13.0.6_biqbaboplfbrettd7655fr4n2y/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/.pnpm/next@13.0.6_biqbaboplfbrettd7655fr4n2y/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./src/components/Button/Button.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_btn-reset__JilT3 {
  outline: none;
  border: 0;
  background-color: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.Button_btn__nz4p_ {
  color: inherit;
  padding: 12px 24px;
  display: block;
  background-color: var(--bg-elevated);
  display: flex;
  align-items: center;
  position: relative;
}
.Button_btn__nz4p_:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.Button_btn__nz4p_:after {
  content: ' ';
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.Button_btn__nz4p_:hover:after {
  background-color: var(--bg-elevated);
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@13.0.6_biqbaboplfbrettd7655fr4n2y/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/.pnpm/next@13.0.6_biqbaboplfbrettd7655fr4n2y/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./src/components/Nav/Nav.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Nav_middle__EDAqk {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Nav_topleft__Tf_uC {
  top: 24px;
  left: 24px;
}

.Nav_nav__b7aQv {
  position: fixed;
  z-index: 10;
  color: var(--fg-primary);
  box-shadow: 0 0 1px var(--ol-elevated);
  border-radius: var(--radius);
  transition: top 200ms ease, left 200ms ease, transform 200ms ease;
  -webkit-backdrop-filter: var(--backdrop-filter);
          backdrop-filter: var(--backdrop-filter);
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
}

