.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topleft {
  top: 24px;
  left: 24px;
}

.nav {
  position: fixed;
  z-index: 10;
  color: var(--fg-primary);
  box-shadow: 0 0 1px var(--ol-elevated);
  border-radius: var(--radius);
  transition: top 200ms ease, left 200ms ease, transform 200ms ease;
  backdrop-filter: var(--backdrop-filter);
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
}
